body,
html {
    height: 100%;
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

.sidebar {
    position: fixed;
    height: 100%;
}

.content-wrapper {
    margin-left: 220px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1
}

.navbar {
    margin-bottom: 2rem;
}

.card {
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #000000;
    color: white;
    font-size: 1.5rem;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.form-label {
    font-weight: bold;
}

.footer {
    margin-top: 3rem;
    text-align: center;
    color: #6c757d;
}

.logos img {
    max-width: 100%;
}

#navbar {
    background-color: #000000;
}

#navbar-tittle {
    font-weight: 90px;
}

#items-navbar {
    margin-top: 50%;
}

#logo-navbar {
    max-width: 160px;
    max-height: 90px;
    margin: 0 auto;
}

#info {
    background-color: #000000;
    color: #fff;
}