/* Custom CSS */

body {
    font-family: Arial, sans-serif;
}

/* Barra lateral */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

/* Slider */
.slider {
    margin-left: 240px;
    margin-top: 0;
    width: calc(100% - 240px);
}

/* Sección de logos */
.logos img {
    height: 80px;
}

/* Footer */
footer .socials a {
    font-size: 24px;
}