{%load static%}
<div class="d-flex justify-content-between align-items-start w-100">
    <div class="w-50">
        <p>La calistenia es como el parque de diversiones del fitness: 
            usas tu propio cuerpo para trabajar fuerza, equilibrio y coordinación. 
            Nada de pesas ni máquinas, solo tú y lo que eres capaz de hacer. Piensa en 
            movimientos como muscle-ups, planchas o equilibrios que parecen desafiar la 
            gravedad. Es algo que puedes practicar en cualquier lugar: un parque, tu sala, donde sea.
        <br>
        <br>
            Es más que ejercicio, es un arte de moverte y superarte. ¿La recompensa? 
            Un cuerpo fuerte, ágil y funcional, con habilidades que te hacen sentir un 
            poco como un superhéroe (sin la capa, pero con mucho estilo). Lo mejor es que 
            cualquiera puede empezar, sin importar tu nivel. Solo necesitas ganas y un poco de espacio. 
            😊
        </p>
    </div>
    <div class="w-50 text-end">
        <img class="img-fluid" src="{% static 'imgs/XGRIPX_Logo_Logo.png' %}" alt="logoRaro" />
    </div>
</div>