{% extends "index.html" %}
    {%block content%}
    {%load static%}
    <!-- Slider de imágenes -->
    <div id="carousel" class="carousel slide slider" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src={% static "imgs/recursos1.jpg" %} class="d-block w-100 h-40" alt="Imagen 1" />
            </div>
            <div class="carousel-item">
                <img src={% static "imgs/recursos2.jpg" %} class="d-block w-100 h-40" alt="Imagen 2" />
            </div>
            <div class="carousel-item">
                <img src={% static "imgs/recursos3.jpg" %} class="d-block w-100 h-40" alt="Imagen 3" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {%endblock%} 